/*
* Adds
*/

._p-tp,
._p-ft {
  display: none;
}

/*
* All
*/

body {
  opacity: 0 !important;
}

/*
* Sizes
*/

@media screen and (max-width: 1200px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1024px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1128px;
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1280px;
    width: 100%;
  }
}

/*
* Brand
 */

#brand-menu#brand-menu {
  background: #e6720e;
  border: unset;
}

#brand-menu a span {
  color: white;
}

/*
* Twitter
*/

.embed.twitter.embed.twitter {
  margin-left: unset;
  margin-right: unset;
  text-align: unset;
}

/*
* Homepage
 */

#index #content {
  min-height: calc(100vh - 177px);
}

/*
* Fixes
 */

a.post-btn.btnmola i {
  width: 16px;
  height: 16px;
  margin: 0 3px 0 0;
  padding: 1px 0 0;
}

/*
* New features
 */

.mv-ignite--actions-container {
  opacity: 0;
  transition: opacity 0.25s;
}

.post:hover .mv-ignite--actions-container {
  opacity: 1;
}

.mv-ignite--thread:hover .mv-ignite--thread--button-ignore {
  opacity: 1;
}
