/*
* Required to prevent blinking, it is restored once the extension loads the JS
* It can't be moved to the index.css file
*/
body {
  opacity: 0 !important;
}

/*
* New features
 */
.mv-ignited--actions-container {
  opacity: 0;
  transition: opacity 0.25s;
}

.cf.post:hover .mv-ignited--actions-container {
  opacity: 1;
}

.mv-ignited--thread:hover .mv-ignited--thread--button-ignore {
  opacity: 1;
}

/*
* Improvements
 */

.col-av.col-av.col-av a {
  width: 26px;
  height: 26px;
}

.col-av.col-av.col-av a img {
  width: 26px;
  height: 26px;
}

#foros_spy#foros_spy #temas td {
  padding-top: 8px;
  padding-bottom: 8px;
}

#foros_spy#foros_spy .c-main {
  padding-right: 0;
}

#foros_spy#foros_spy .c-side {
  display: none;
}

#top#top #temas td {
  padding-top: 8px;
  padding-bottom: 8px;
}

#top#top .c-main {
  padding-right: 0;
}

#top#top .c-side {
  display: none;
}

#foros .forums.forums .forum.forum p {
  display: none !important;
}

#foros .c-main h2 {
  margin-top: 12px;
  margin-bottom: 8px;
}

#foros .forums.forums li {
  padding: 0;
}

#foros #temas#temas tr td {
  padding-top: 6px;
  padding-bottom: 6px;
}

#foros#foros tr th:nth-child(3),
#foros#foros tr td:nth-child(3) {
  display: none !important;
}

#forum-bar#forum-bar {
  display: flex;
  gap: 6px;
  align-items: center;
}

.b-side.b-side.b-side h3 {
  border-top: unset;
}

#perfil#perfil .firmas > div {
  margin-bottom: 0;
}
