/*
* Required to prevent blinking, it is restored once the extension spits the JS
* It can't be moved to the index.css file
*/
body {
  opacity: 0 !important;
}

/*
* Fixes
 */
a.post-btn.btnmola i {
  width: 16px;
  height: 16px;
  margin: 0 3px 0 0;
  padding: 1px 0 0;
}

.btnmola.btnmola.btnmola {
  flex: 1;
  padding-left: 0;
  display: block !important;
  opacity: 0 !important;
  transition: opacity 0.2s ease-in;
}

.post-controls.post-controls {
  height: 40px;
  display: flex;
  align-items: center;
}

.post-controls .btnmola:hover {
  background: none;
}

.post-controls.post-controls .btnrep {
  cursor: pointer;
  flex: 3;
  background-color: unset;
}

.post-controls.post-controls .btnrep i {
  opacity: 0.4;
  font-size:12px;
}

@media screen and (min-width: 996px) .post .buttons {
  opacity: 0.2 !important;
}

/*
* New features
 */
.mv-ignited--actions-container {
  opacity: 0;
  transition: opacity 0.25s;
}

.cf.post:hover .mv-ignited--actions-container {
  opacity: 1;
}

.mv-ignited--thread:hover .mv-ignited--thread--button-ignore {
  opacity: 1;
}

/*
* Improvements
 */

.col-av.col-av.col-av a {
  width: 26px;
  height: 26px;
}

.col-av.col-av.col-av a img{
  width: 26px;
  height: 26px;
}

#logo#logo {
  margin-left:0
}

#foros_spy#foros_spy #temas td {
  padding-top: 8px;
  padding-bottom: 8px;
}

#foros_spy#foros_spy .c-main {
  padding-right: 0;
}

#foros_spy#foros_spy .c-side {
  display: none;
}

#top#top #temas td {
  padding-top: 8px;
  padding-bottom: 8px;
}

#top#top .c-main {
  padding-right: 0;
}

#top#top .c-side {
  display: none;
}

#foros .forums.forums .forum.forum p {
  display: none !important;
}

#foros .c-main h2{
  margin-top: 12px;
  margin-bottom: 8px;
}

#foros .forums.forums li {
  padding: 0;
}

#foros #temas#temas tr td {
  padding-top: 6px;
  padding-bottom: 6px;
}

#foros#foros tr th:nth-child(3), #foros#foros tr td:nth-child(3) {
 display: none !important;
}

#forum-bar#forum-bar {
  display: flex;
  gap: 6px;
  align-items: center;
}

.b-side.b-side.b-side h3 {
  border-top: unset;
}

#perfil#perfil .firmas > div {
  margin-bottom: 0;
}

#usermenu#usermenu {
  min-width: 220.52px;
  background: unset;
}

#user-data#user-data {
  margin-right: 0;
}

#user-data#user-data > img {
  margin-right: 0;
}

#user-data#user-data span {
  display: none;
}


