/*
* Adds
*/

._p-tp,
._p-ft {
  display: none;
}

/*
* All
*/

body {
  opacity: 0 !important;
}

/*
* Sizes
*/

@media screen and (max-width: 1200px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1024px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1128px;
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  #topbar#topbar,
  #main#main,
  .fullw.fullw {
    min-width: 1280px;
    width: 100%;
  }
}

/*
* Brand
 */

#brand-menu#brand-menu {
  background: #e6720e;
  border: unset;
}

#brand-menu a span {
  color: white;
}

/*
* Twitter
*/

.embed.twitter.embed.twitter {
  margin-left: unset;
  margin-right: unset;
  text-align: unset;
}

/*
* Homepage
 */

#index #content {
  min-height: calc(100vh - 177px);
}

/*
* Fixes
 */
a.post-btn.btnmola i {
  width: 16px;
  height: 16px;
  margin: 0 3px 0 0;
  padding: 1px 0 0;
}

.btnmola.btnmola.btnmola {
  flex: 1;
  padding-left: 0;
  display: block !important;
  opacity: 0 !important;
  transition: opacity 0.2s ease-in;
}

.post-controls.post-controls {
  height: 40px;
  display: flex;
  align-items: center;
}

.post-controls .btnmola:hover {
  background: none;
}

@media screen and (min-width: 996px) .post .buttons {
  opacity: 0.2 !important;
}

/*
* New features
 */
.mv-ignited--actions-container {
  opacity: 0;
  transition: opacity 0.25s;
}

.cf.post:hover .mv-ignited--actions-container {
  opacity: 1;
}

.mv-ignited--thread:hover .mv-ignited--thread--button-ignore {
  opacity: 1;
}
