:root {
  --surface: 256 256 256;
  --surface-high: 237 237 237;
}

.dark {
  --surface: 39 39 42;
  --surface-high: 51 51 54;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 This block of code is opinionated for MV page code, and should not be shared with the popup
*/

h1 {
  @apply text-xl
}

h2 {
  @apply text-lg
}

h3 {
  @apply text-base
}

.btn-primary {
  @apply bg-primary
}

a {
  @apply text-primary
}

#more-actions {
  @apply flex gap-1 flex-wrap
}

.tag-group i {
  @apply opacity-100
}

.tag-group span {
  line-height: 16px;
}

#foros td.col-av-m {
  @apply !flex items-center justify-center w-full h-[60px]
}

#foros .c-main {
  padding-left: 0;
  padding-right: 300px;
}

#side-nav {
  margin-left: -33px;
}
