:root {
  --surface: 256 256 256;
  --surface-high: 237 237 237;
}

.dark {
  --surface: 39 39 42;
  --surface-high: 51 51 54;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 This block of code is opinionated for MV page code, and should not be shared with the popup
*/

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

h3 {
  @apply text-base;
}

.btn-primary {
  @apply bg-primary;
}

a {
  @apply text-primary;
}

#more-actions {
  @apply flex gap-1 flex-wrap;
}

.tag-group i {
  @apply opacity-100;
}

.tag-group span {
  line-height: 16px;
}

#foros td.col-av-m {
  @apply !flex items-center justify-center w-full h-[60px];
}

.c-main {
  @apply pl-0 pr-[300px];
}

#side-nav {
  @apply ml-[-33px];
}

._p-tp,
._p-ft {
  @apply hidden;
}

#brand-menu {
  @apply bg-inherit border-none;
}

#brand-menu a span {
  @apply text-white;
}

#title {
  @apply !bg-inherit border-t-0 border-b-0;
  background: unset !important;
  border: unset !important;
}

#title h1 {
  text-shadow: unset !important;
}

.brand > .section > a {
  @apply text-gray-300;
}

.post-contents div.embed.twitter {
  @apply ml-0 mr-0;
}

.post-contents div.embed.twitter iframe {
  @apply !m-0;
}

.cf.post {
  @apply p-3
}

.btnmola {
  @apply pl-0 !block !opacity-0 transition;
}

.post-controls {
  @apply flex items-center justify-between
}

.post-controls > * {
  @apply !block
}

.post-controls::after {
  content: unset;
}