:root {
  --surface: 256 256 256;
  --surface-high: 237 237 237;
}

.dark {
  --surface: 39 39 42;
  --surface-high: 51 51 54;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 This block of code is opinionated for MV page code, and should not be shared with the popup
*/

body {
  @apply pt-0;
}

body > header:not([id="header"]){
  padding-top: 60px;
}

body > #header + #content {
  padding-top: 60px;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

h3 {
  @apply text-base;
}

#header {
  height: 46px;
}

#content {
  @apply min-h-screen;
}

.btn-primary {
  @apply bg-primary;
}

a {
  @apply text-primary;
}

#more-actions {
  @apply flex gap-1 flex-wrap;
}

.tag-group i {
  @apply opacity-100;
}

#settings #cover {
  @apply hidden;
}

.tag-group span {
  line-height: 16px;
}

#foros td.col-av-m {
  @apply !flex items-center justify-center w-full h-[60px];
}

.c-main {
  @apply pl-0 pr-[300px];
}

#side-nav {
  @apply ml-[-35px];
}

._p-tp,
._p-ft {
  @apply hidden;
}

.post.op{
  background-image: none;
}

.post.op .post-meta .autor {
  @apply text-primary
}

#brand-menu {
  @apply bg-inherit border-none;
  background: unset;
}

#brand-menu a span {
  @apply text-white;
}

.brand {
  @apply !pb-2 !pt-0 !px-0;
}

#title {
  @apply !bg-inherit border-t-0 border-b-0;
  background: unset !important;
  border: unset !important;
}

#title h1 {
  text-shadow: unset !important;
}

.brand > .section > a {
  @apply text-gray-300;
}

.post-contents div.embed.twitter {
  @apply ml-0 mr-0;
}

.post-contents div.embed.twitter iframe {
  @apply !m-0;
}

.cf.post {
  @apply p-3
}

.post.moderated {
  @apply hidden;
}

.post.locked {
  @apply block transition-none transform-none opacity-50 grayscale
}

.moderated-group .post.info {
  @apply hidden;
}

#splash-3 {
  height: 400px;
}

.splash-1 {
  height: 250px;
}

select, select option {
  @apply text-gray-600
}

.no-logo #logo {
  @apply hidden;
}

.no-logo .m-nav-pane {
  @apply !ml-0;
}

.no-avatars .post-avatar {
  @apply hidden;
}

.no-avatars .post-body {
  @apply ml-0;
}

.no-avatars .avatar-list {
  @apply grayscale;
}

.monospace *:not(i) {
  font-family: monospace;
}

input[type="file"] {
  @apply min-h-8
}

.black-and-white:not(.dark) *:not(.unread-num,.badge,.fid,.bubble,.thread-live,.thread-new,.pulsate,.unseen-num,.quote,#cover,.cover-content,#splash-3 a,.splash) {
  @apply border-gray-400;
  background: white !important;
  background-color: white !important;
  color: black !important;
}

.black-and-white:not(.dark) #header{
  @apply border-b border-gray-200
}


.black-and-white.dark *:not(.unread-num,.badge,.fid,.bubble,.thread-live,.thread-new,.pulsate,.unseen-num,.quote,#cover,.cover-content,#splash-3 a,.splash) {
  @apply border-gray-600;
  background: black !important;
  background-color: black !important;
}

.black-and-white select {
  @apply text-gray-500 border
}

.black-and-white textarea {
  @apply !border-gray-500 !border-solid !border
}

.black-and-white.dark i {
  @apply text-white;
}


.black-and-white a {
  @apply hover:underline
}

.improved-upvotes .btnmola {
  @apply pl-0 !block !opacity-0 transition;
}

.improved-upvotes .post-controls {
  @apply flex items-center justify-between ml-0
}

.improved-upvotes .post-controls > * {
  @apply !block
}

.improved-upvotes .post-controls::after {
  content: unset;
}

.improved-upvotes .post-controls.post-controls {
  height: 40px;
  display: flex;
  align-items: center;
}

.improved-upvotes .post-controls .btnmola:hover {
  background: none;
}

.improved-upvotes .post-controls .btnrep {
  cursor: pointer;
  flex: 3;
  background-color: unset;
}

.improved-upvotes .post-controls .btnrep i {
  opacity: 0.4;
  font-size: 12px;
}

html:not(.improved-upvotes ) .post-btn.btnmola i, .post-n.btnmola i {
  width: 18px;
  height: 18px;
}

.no-side-menu .foros #content #main .c-main {
  @apply pr-0;
}


.no-side-menu .foros #content #main .c-side {
  @apply float-none
}

.no-side-menu .foros #content #main .c-side #thread-companion.fixed {
  position: initial;
}